@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@300;400;500;700&family=Pattaya&display=swap');

@font-face {
	font-family: 'Tangak';
	src: url('../tangak/tangak.otf');
}


html, body, div, header, section, main, articl, ul {
	padding: 0;
	margin: 0;
}

body {
	background-color: rgba(210, 210, 210, 1.0);
	font-size: 14px;
	font-weight: 400;
	font-family: "Noto Serif","Arial", sans-serif;
	color: rgb(10, 10, 94);
}

h1, h2, h3 {
	font-family: 'Tangak', 'Oswald', Verdana, Geneva, Tahoma, sans-serif;
	color: rgba(240, 240, 240, 1.0);
}

 h2 {
 	text-transform: uppercase;
	font-weight: 600;
	font-style: bold;
	font-size: 2.1rem;
	letter-spacing: 0.2em;
 }

 .showcase-content > h1 {
	color: rgb(206, 46, 37);
	font-size: 3rem;
}

.header {
	background-color: rgba(190, 190, 190, 0.8);
	color: rgb(10, 10, 94);
	padding: 10px 0;
	border-bottom: 10px double rgba(210, 210, 210, 1.0);
}

.logo {
	font-style: italic;
	font-family: 'Tangak';
	font-size: 1.4rem;
}

.header-svg {
	width: 20%;
}

.main-bar {
	background-color: rgba(190, 190, 190, 0.5);
}

.nav {
	padding: 0;
	margin: 0;
}

.main-bar > li {
	padding: 0;
	margin: 0;
}

.main-bar > li a {
	padding: 7px;
	margin: 0;

	margin-right: 26px;
	margin-left: 5px;
	font-size: 1rem;
	color: rgb(10, 10, 94);
}

.main-bar > li a:hover {
	color: rgb(40, 24, 165);

}

.main-control {
	height: 25px !important;
	padding: 0 5px !important;
	margin-top: 5px !important;
	font-size: 0.8rem !important;
}

.main-dropdown {
	background-color: rgba(190, 190, 190, 0.9);
	width: 300px;
}

.main-dropdown > li {
	width: 200px;
	padding-left: 30px;
}

.main-nav {
	background-color: rgba( 240, 240, 240, 1.0);
	width: 100%;
	padding: 100px 0 20px 0;
}


.actives {
	background-color: rgba(10, 10, 94, 0.8);
	padding: 5px 5px 8px 10px !important;
	display: block; 
	color: rgba(247, 241, 241, 1.0) !important;
	transition: all 0.25s;
}

.actives:hover {
	background-color: rgb(206, 46, 37) !important;
	clip-path: ellipse(100% 50%);
	cursor: pointer;
}

.contact > a > span {
	margin-right: 15px;
}

.basket,
.registration {
	display: row;
	margin-top: 8px;
}

.basket > a,
.registr {
	margin-left: 15px;
	text-decoration: none;
}
.basket span,
.registr > span {
	margin-right: 15px;
}

/*	Форма войти на js   */

.divForm {
	position: fixed;
	display: block;

	top: 0;
	left: 0;
	z-index: 1;

	width: 100%;
	height: 100%;

	padding-top: 100px;
	text-align: center;
	background-color: rgba(100, 100, 100, 0.8);
}

.formOne {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 23%;
	z-index: 2;
	width: 480px;
	height: 350px;

	padding: 20px;
	background-color: rgba(190, 190, 190, 1);
}

.labelOne {
	margin: 10px;	
	font-size: 1rem;
	z-index: 3;
}

.inputTwo,
.inputOne {
	margin-bottom: 20px;
	padding: 10px;  
	width: 320px;
	height: 30px;
	z-index: 4;
}

.labelTwo {
	margin: 10px;
	font-size: 1rem;
	z-index: 5;
}

.btnThree,
.btnOne,
.btnTwo {
	display: inline;
	z-index: 6;
	width: 110px;
	height: 32px;
	margin: 5px 20px;

	color: #fffbff;
	background-color: #0d61df;
}

.btnOne:hover {
color: 	rgb(10, 10, 94)	;}

.btnTwo:hover {
color: 	rgb(10, 10, 94);
}

.btnThree:hover {	
color: 	rgb(10, 10, 94);
}

.titleLogin {
	margin-left: 10px;
	font-size: 1.2rem;
	color: rgb(206, 46, 37);
}

/*	Конец формы   */


.home {
	/* background-image: url('../img/bg.png'); */
	background-color: rgba(190, 190, 190, 1);
	background-repeat:repeat-x;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

/* 		Первая секция титульная		 */

.showcase-content > h1 {
	color: rgb(206, 46, 37) !important;
	font-size: 3rem;
}

 
.showcaseone {
	/*height: 675px;*/
	margin: 0 !important;
	background-image: url('../img/bg_2a.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: left;
	
	padding: 15px 40px 25px 0 !important;
}

.showcasetwo {
		/*height: 675px;*/
	margin: 0 !important;
	background-image: url('../img/bg_3.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: left;
	
	padding: 15px 40px 25px 0 !important;
}

.showcasethree {
		/*height: 675px;*/
	margin: 0 !important;
	background-image: url('../img/bg_4.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: left;
	
	padding: 15px 40px 25px 0 !important;
}

.showcasefour {
		/*height: 675px;*/
	margin: 0 !important;
	background-image: url('../img/bg_5.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: left;
	
	padding: 15px 40px 25px 0 !important;
}


.showcase-content {
	background-color: rgba(10, 10, 94, 0.3);
	width: 60%;
	min-height: 450px;
	padding: 50px 20px 50px 30px !important;
	margin-top: 100px;
	margin-left: 50px;
}

.showcase-content > p {
	font-size: 1rem !important;
	padding: 10px 100px 0 10px !important;
	color: rgba(255, 251, 255, 1.0) !important;
}

.link {
	display: inline-block;
	background-color: rgba(10, 10, 94, 0.3);
	color: rgb(255, 251, 255);
	text-decoration: none;
	text-align: center;
	width: 140px;
	border-radius: 5px;
	box-shadow: 1px 1px 0 rgb(241, 35, 8);
	padding: 9px 10px;
	margin: 30px 0;
	transition: all 0.3s;
}

.link:hover {
	background-color: rgb(70, 163, 82);
	color: rgb(10, 10, 94);
	cursor: pointer;
}

.galeri-one {
	background-color: rgb(206, 46, 37);
	padding-top: 65px;
	padding-bottom: 35px;
	text-align: center;
}

.galeri-two {
		background-color: rgb(212, 160, 23);
	padding-top: 65px;
	padding-bottom: 35px;
	text-align: center;
}

.galeri-two h2,
.galeri-one h2 {
	margin-bottom: 20px;
} 

.galeri .link {
	margin-top: 15px;
}

.cart-image {
	box-shadow: 1px 2px 10px rgba(10, 10, 94, 0.3);
	margin-bottom: 10px;
}

.cart-image img {
		width: 99%;
}

/*	Секция новостей*/

.news {
	background-color: rgba(180, 180, 180, 1);
	padding-top: 60px;
	padding-bottom: 50px;
	text-align: center;
}

.title-news {
	padding: 40px 0;
}

.news-cont {
	background-color: rgba(10, 10, 94, 0.8);

	width: 100%;

	border: 3px solid rgb(212, 160, 23);
	border-top-left-radius: 15px;


	padding: 5px 10px;
	min-height: 490px;
	margin-bottom: 20px;
}

.news-cont > h3 {
	color: rgb(255, 251, 255);
	font-size: 1.7rem;
	font-style: italic;
	text-shadow: 2px 2px 10px rgb(212, 45, 23);
	padding: 22px 0;
	
}

.news-text {
	color: rgb(255, 251, 255);
	margin-top: 10px;
	text-shadow: 1px 1px 3px rgba(10, 10, 94, 1.0);
	text-align: start;
	padding: 0 7px;
}

.news-cont img {
	width: 98%;
}

.heart {
	position: absolute;
	width: 35px !important;
	height: 35px !important;
	margin-left: -50px !important;
	margin-top: 10px !important;
}

.heart:hover {
	transform: rotate(-10deg);
}

.heart-link {
	box-sizing: border-box;
	display: block;
	text-decoration: none;
	color: rgb(244, 244, 250) !important;
	font-size: 1.2rem;
	font-style: italic;
	clip-path: ellipse(37px 32px);
	border: 5px solid rgb(228, 67, 27);
	margin-top: 10px;
	text-shadow: 5px 5px 6px rgb(212, 160, 23);
	z-index: 20;
	filter: blur(0.05rem);
	transition: all 0.25s;
}

.heart-link:hover {
	color: #e4441c !important;
	font-size: 1.6rem;

	clip-path: none;

	width: 200px;
	border: 1px solid rgb(170, 41, 9);
	transform: rotate(4deg);
	filter: none;
}
/*		секция контакты			*/
.contacts {
	padding: 30px 0;
	text-align: center;
}

.link-contacts {
	font-size: 1.5rem;
}

.link-contacts:hover {
	color: #e4441c !important;
	cursor: pointer;
}

/*   Начало footer  */

.main-footer {
	background-color: rgba(10, 10, 94, 0.8);
	padding: 50px 0;
}

.payment-systems {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding-top: 50px;
}

.payment-systems > a {
	transition: all 0.5s;
	filter: blur(0.1em);
}

.payment-systems > a:hover {
	transform: rotate(-10deg);
	filter: none;
	transform-origin: bottom right 50px;
}

/*	Форма регистрации	*/

.div-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 410px;

	border: 3px solid rgb(212, 160, 23);
	border-top-left-radius: 15px;

	text-align: center;

	padding: 10px;
	background-color: rgba(190, 190, 190, 1.0);
}

.form-registration {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;

	text-align: left;
}

.form-registration input {
	box-sizing: border-box;
	width: 100%;
	border: none;
	padding: 4px 2px;
}

.form-registration input:hover {
	box-sizing: border-box;
	border: 1px solid hsl(12, 79%, 50%);;
}

.form-registration input:active {
	border: 1px solid red;
}


.label-login,
.label-mail,
.label-password {
	width: 310px;
	height: 37px;

	margin-bottom: 22px;

}

.span-enter {
	color:rgba(10, 10, 94, 0.8);
}

.btn-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}


.btn-registration {
	padding: 8px 12px;
	color: rgb(255, 251, 255);
	background-color: rgb(14, 110, 253);

	margin-right: 16px; 
	margin-top: 15px;
	border: none;
}

.btn-registration:hover {
	background-color: rgb(206, 46, 37) !important;
	clip-path: ellipse(100% 50%);
}

.link-return {
	color: rgb(255, 251, 255);
}

.mistakeSpan {
	position: absolute;
	display: block;
	width: 370px;
	height: 100px;
	padding: 35px 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(10, 10, 94, 1.0);
	
	font-size: 1.1rem;
	color: rgb(255, 251, 255);
	background-color: rgba(206, 46, 37, 0.9) !important;
	z-index: 20;
}

 .copyright {
	 display: block;
	text-align: center;
	font-size: 0.9rem;
	letter-spacing: 0.4em;
	margin-top: 30px;
}

/*	 Конец формы регистрации	  */


@media (max-width: 1200px) {
		.logo {
		padding-top: 5px;
		font-style: italic;
		font-size: 1.1rem !important;
	}
		.main-bar > li a {
		margin-right: 19px !important;
		font-size: 1rem !important;
	}
	.showcase-content {
		padding: 15px 40px 25px 40px !important;
	}

	.payment-systems img {
		width: 90%;
	}

	.cart-image img {
		width: 100%;
	}

	.heart {
		width: 25px !important;
		height: 25px !important;
		margin-top: 5px;
		margin-left: -35px;
	}
}

@media (max-width: 992px) {

	.logo {
		font-size: 1rem !important;
	}
	.main-bar > li a {
		margin-left: 5px !important;
		font-size: 0.9rem !important;
	}

.main-nav {
	margin-top: 50px;
}

	.heart {
		width: 25px;
		height: 25px;
		margin-top: 5px;
		margin-left: -30px;
	}

	.showcase-content {
		width: 90%;
		padding: 30px 15px 40px 20px;
	margin-top: 40px;
	margin-left: 40px;
	min-height: 380px;
	}

	.showcase-content > h1 {
		font-size: 2rem;
	}

	.showcase-content > p {
		font-size: 0.9rem !important;
		padding: 10px 70px 0 10px !important;
	
	}

	.payment-systems img {
		width: 80%;
	}

}

@media (max-width: 768px) {
	.header {
		text-align: center;
	}

	.showcase-content {
		margin-top: 10px;
	margin-left: 10px;
		width: 100%;
	}
		.logo {
			padding-top: 5px;
		    font-size: 1.2rem !important;
	}
		.main-bar > li a {
			margin-left: 15px !important;
			font-size: 1rem !important;
	}
		.main-nav {
		background-color: rgba( 240, 240, 240, 1.0);
		width: 100%;
		padding: 130px 0 20px 0;
	}
		.contact > a {
			font-size: 0.7rem !important;
		}
		.contact > p {
			font-size: 0.7rem;
		}
		.showcase > h2 {
		margin-top: 50px;
	}
		.galeri-one img,
		.galeri-two img {
		margin-bottom: 15px;
	}
	
	.news {
		background-image: url('../img/bg_3.png');
		background-repeat: no-repeat;
	}

	.payment-systems {
		margin-bottom: 30px;
	}

}

@media (max-width: 576px) {
	.header {
		text-align: center;
	}
		.logo {
			padding-top: 5px;
		    font-size: 1.2rem !important;
	}
		.main-bar > li a {
			padding: 0 !important;
			margin-right: 0 !important;
			margin-left: 20px !important;
			font-size: 1rem !important;
	}

	.showcase-content {
		margin-top: -5px;
		margin-left: 10px;
		padding: 30px 10px;
		min-height: 350px;
	}

	.showcase-content > p {
		font-size: 0.8rem !important;
		padding: 10px 10px 0 10px !important;
	
	}
}

@media (max-width: 480px) {
	.header {
		text-align: center;
	}
		.logo {
			padding-top: 5px;
		    font-size: 1.2rem !important;
	}
		.main-bar > li a {
			margin-left: 10px !important;
			font-size: 0.9rem !important;
	}

	.showcase-content {
		margin-top: -10px;
		margin-left: 10px;
		padding: 10px 5px;
		min-height: 250px;
	}
	
	.showcase-content h1 {
		font-size: 2rem !important;
	}
	
	.showcase-content > p {
	padding: 0 0 0 0 !important;
}

	.link-showcase {
		margin: 5px !important;
	}
}

@media (max-width: 430px) {
	.header {
		text-align: center;
	}
		.logo {
			padding-top: 5px;
		    font-size: 1.2rem !important;
	}
		.main-bar > li a {
			margin-left: 10px !important;
			font-size: 1rem !important;
	}
}

@media (max-width: 380px) {
	.header {
		text-align: center;
	}
		.logo {
			padding-top: 5px;
		    font-size: 1.2rem !important;
	}
		.main-bar > li a {
			margin-left: 8px !important;
			font-size: 0.9rem !important;
	}
}









