@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  color: rgb(61, 48, 48);
  text-align: center;
  background-image: url('../img/laptop_3.jpg');
  background-repeat: repeat-x;
  width: 100%;
}

/* html,body {
  padding: 1em 2em;
  font-size: 18px;
  background: #222;
  color: #aaa
} */

h1 {
  font-family: 'Oswald', 'Verdana','Geneva', 'Tahoma', sans-serif;
  margin-left: 30px;
  font-size: 2.2rem;
  color: rgb(45, 29, 90);
}

h2 {
	font-size: 1.9rem;
	color: rgb(45, 29, 90);
	padding: 6px 12px;
	 background: -webkit-linear-gradient(left, rgb(218,179,225)10%,
  rgb(196,214,163)30%,
  rgb(143,198,237)10%,
  rgb(234,179,164)70%,
  rgb(144,219,210)65%)
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #4512AA;
  font-size: 1rem;
  padding: 5px 0;
  letter-spacing: 0.1em;
  transition: all 0, 7s;
}

a:hover {
  color: rgb(216, 21, 21);
  background-color: rgba(100, 148, 237, 0.055);
}

/*		КОНЕЦ ОБЩИХ СТИЛЕЙ		*/

.container {
  width: 1260px;
  margin: 0 auto;
}

.header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
  background: -webkit-linear-gradient(left, rgba(22, 96, 170, 0.8) 10%, rgba(122, 188, 255, 0.5) 10%, rgba(126, 234, 112, 0.5) 8%, rgba(47, 226, 65, 0.5) 16%, rgba(237, 242, 247, 0.5) 67%, rgba(36, 122, 207, 0.8) 65%);
  padding-top: 10px;
  padding-bottom: 10px;
}

/*    ЧАСЫ НАЧАЛО  */

.clock {
  margin-top: 20px;
  margin-right: 130px;

  padding: 10px;
  display: inline-flex;
  justify-content: left;
  width: 165px;

  color: rgba(243, 246, 247, 0.973);
  font-weight: bold;
  font-style: italic;
  font-size: 2.8rem;
  box-shadow: 1px 1px 1px rgb(73, 73, 207);
  border: 1px solid red;
}

/*    ЧАСЫ КОНЕЦ	*/

.name-center {
  display: inline-flex;
  justify-content: flex-end;
  background-color: #4512aa;
  width: 60%;
  padding: 17px 15px;
  border: 20px solid rgb(232, 233, 238);
  border-radius: 30%;
  color: rgb(226, 235, 245);
  margin-bottom: 20px;
}

.main_menu {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.button {
  display: inline-block;
  width: 220;
  padding: 6px 12px;
  background-color: #4512aa;
  color: rgb(226, 235, 245);
  border-radius: 30%;
  letter-spacing: 0.02em;
  margin-left: 12px;
  box-shadow: 2px 2px 4px rgba(18, 27, 107, 0.8);
}

.button_home {
  display: inline-block;
  padding: 6px 12px;
  background-color: rgb(45, 29, 90);
  color: rgb(226, 235, 245);
  border-radius: 30%;
  letter-spacing: 0.02em;
  margin-left: 45px;
  box-shadow: 2px 2px 4px rgba(21, 40, 100, 0.8);
}


.auther {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}

.auther > strong {
  margin: 0;
  padding:10px;
  padding: 6px 60px 6px 0;
  margin-bottom: 8px;

  color: #4512AA;
  font-style: italic;
  font-size: 1.5rem;

  box-shadow: 1px 1px 1px rgb(73, 73, 207);
}

.project {
  color: azure;
  font-size: 1.1rem;
}

/*		КОНЕЦ ШАПКИ		*/

.title_page {
  padding: 0 0 90px 0;
}

.title_content {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

height: 500px;
}

h1 {
  font-size: 3.2rem;
  color: rgba(240, 255, 255, 1.0);
}

.title_content > a {
  font-size: 2.8rem;
}

.galeri {
  margin-top: 80px;
  padding: 80px 0;
}

.galeri_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.galeri_cart_one,
.galeri_cart_two {
  display: flex;
  min-width: 50%;
  justify-content: space-between;
  box-sizing: border-box;
}

.galeri_cart_one {
  align-items: center;
  margin-right: 10px;
}

.galeri_cart_two {
  align-items: center;
}

.galeri_col {
  width: 195px;
  padding: 5px;
}
/* 
.galeri h3 {

} */

.galeri h3:hover {
  color: #fff;
  cursor: pointer;
}

.textGaleri {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 400;
  cursor: pointer;
  color: #fff;
}

.colOne {
  box-sizing: border-box;
  background-color: rgb(201, 210, 215);
  height: 250px;
}

.colTwo {
  background-color: rgb(166, 161, 157);
  height: 275px;
}

.colThree {
  background-color: rgb(141, 131, 123);
  height: 300px;
}

.colFour {
  background-color: rgb(124, 113, 104);
  height: 325px;
}

.colFive {
  background-color: rgb(102, 90, 81);
  height: 350px;
}

.colEnd {
  background-color: rgb(90, 78, 68);
  height: 375px;
}

.section_link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(166, 161, 157);
}

.section_link > .container {
	display: flex;
	flex-direction: column;

  padding: 30px 0 70px 0;
  
}

.section_link_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tasks {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  width: 380px;
  
  margin-top:30px;
  background: -webkit-linear-gradient(left, rgba(22, 96, 170, 0.8) 10%, rgba(122, 188, 255, 0.5) 10%, rgba(126, 234, 112, 0.5) 8%, rgba(47, 226, 65, 0.5) 16%, rgba(237, 242, 247, 0.5) 67%, rgba(36, 122, 207, 0.8) 65%);
}

.tasks > h3 {
  font-size: 1.6rem;
  font-style: italic;
  width: 250px;
  letter-spacing: 0.3em;
  margin-left: 20px;
  background:-webkit-linear-gradient(left, rgb(218,179,225)10%,
  rgb(196,214,163)30%,
  rgb(143,198,237)10%,
  rgb(234,179,164)70%,
  rgb(144,219,210)65%);
}

.left {
  height: 600px;
}

.right {
  justify-content: right !important;
	 margin-top: 180px;
  background: -webkit-linear-gradient(left, rgba(36, 122, 207, 0.8) 28%, rgba(122, 188, 205, 0.5) 29%, rgba(143,198,237,0.6)10%, rgba(126, 234, 112, 0.5)68%, rgba(47, 226, 65, 0.5) 86%, rgba(237, 242, 247, 0.5) 87%, rgba(126, 234, 112, 0.5) 8%, rgba(147, 226, 65, 0.5) 46%, rgba(36, 122, 207, 0.8) 18%);

}

.right > .titles_link {
  box-sizing: border-box;
  padding-left: 120px;
}

.tasks .titles_link {
  text-align: start;
  border-left: 15px double rgba(9, 44, 80, 0.8);

}
 
.calculator {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	width: 380px;
	height: 300px;
	
	border-top: 15px double rgba(9, 44, 80, 0.8);
	background-color: rgba(256, 256, 256, 0.5);
	
	margin-top: 120px;
	padding-bottom: 50px;
}
.calculator > h2 {
	font-size: 1.2rem;
	font-style: italic;
}

.display {
	width: 97%;
	height: 150px;
	margin-left: 5px;
	background-color: #fff;
}

.management {
	display: flex;
	flex-direction: column;
	width: 45%;
}

.colon {
	padding:0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: start;
	
}
.colon > li {
	list-style-type: none;
}

.colon > li > button {
  border: none;
	padding: 8px 14px;
	font-size: 1.2rem;
	margin-left: 5px;
	margin-top: 5px;
	color: #fff;
	background-color: rgba(36, 122, 207, 0.8);
  cursor: pointer;
}

.btn_calculator:hover {
 background-color: rgb(28, 105, 182);
 color: rgb(240, 226, 226);
}

.linkUp {
  display: block;
  padding: 8px 15px;
  color: #fff;
  background-color: rgba(36, 122, 207, 0.8);
  margin-top: 10px;
}

/* Style для доп страниц  */

.btn_tasks {
  padding: 10px 15px;
  background-color: rgba(36, 102, 27, 1);
  color: rgb(226, 202, 202);
  font-size: 0.9rem;
  border-radius: 45px ;
  cursor: pointer;
  margin-bottom: 35px;
}

.btn_tasks:hover {
  background-color: rgba(69, 148, 58, 0.5);
  border-bottom: 2px solid rgb(226, 202, 202);
  color: rgba(9, 44, 80, 0.8);
}


code {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50%;
  text-align: start;
  padding: 25px 10px 25px 40px;
  background-color: #ffebcd;
  border-bottom: 15px double rgba(9, 44, 80, 0.8);
  border-left: 15px double rgba(11, 33, 54, 0.8);
  margin-left: 125px;
  margin-top: 30px;
  padding-bottom: 30px;
  box-shadow: 3px 3px 6px rgba(70, 78, 85, 0.8);
}

.samp { 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 10px;
  background-color: rgb(233, 238, 243);
  margin: 20px 0;
}

.span_two > span {
  font-size: 2rem !important;
  color: #fff !important;
}

.header_tasks {
	margin: 0;
	padding: 0;
	height: 90vh;
	padding-bottom: 130px;
}

.header_tasks p {
  font-size: 1.1rem;
  color: rgb(116, 84, 84);
}

.header_tasks p{
  width: 900px;
  text-align: start;
  border-bottom: 1px solid rgba(36, 122, 207, 0.8);
}

.code span {
  font-style: normal;
  font-size: 1.1rem;
  line-height: 120%;
  margin-bottom: 15px;
}

.code samp {
  font-style: normal;
  font-size: 1.1rem;
  line-height: 120%;
  margin-bottom: 25px;
}

.return {
	display: inline-block;
  color: #ffebcd;
  font-size: 1.5rem;
  padding: 8px 12px;
  margin-top: 10px;
  background-color: rgba(36, 122, 207, 0.8);
  box-shadow: 3px 3px 16px rgba(70, 78, 85, 0.8);
  margin-bottom: 10px;
}