body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: rgb(61, 48, 48);
  text-align: center;
  background-image: url('../img/laptop.jpg');
  background-repeat: no-repeat;
  height: 100vh;
}

.header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(left,rgba(22, 96, 170, 0.8) 10%, rgba(122,188,255,0.5) 10%,rgba(126,234,112,0.5) 8%,rgba(47,226,65,0.5) 16%,rgba(237,242,247,0.5) 67%,rgba(36, 122, 207, 0.8) 65%);
  padding-top: 50px;
}

.header  div {
  background-color: #4512aa;
  width: 50%;
  padding: 30px 15px;
  border: 25px solid rgb(232, 233, 238);
  border-radius: 30%;
  color:  rgb(226, 235, 245);
  margin-bottom: 30px;
}

.code {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 40%;
  text-align: start;
  padding: 25px 10px 25px 40px;
  background-color: #ffebcd;
  border-bottom: 15px double rgba(9, 44, 80, 0.8);
  border-left: 15px double rgba(9, 44, 80, 0.8);
  margin-left: 125px;
  margin-top: 30px;
}

.code span {
  font-style: normal;
  font-size: 1.1rem;
  line-height: 120%;
  margin-bottom: 15px;
}

h1 {
  font-size: 2rem;
  color: rgb(45, 29, 90);
  
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(122, 72, 13);
  font-size: 1.3rem;
  padding: 5px 0;
  letter-spacing: 0.3em;
}

.button {
  padding: 6px 7px;
  background-color: #4512aa;
  color: rgb(226, 235, 245);
  border-radius: 30%;
  letter-spacing: 0.02em;
  margin-left: 15px;
}
.return {
  color: #ffebcd;
  font-size: 1.5rem;
  margin-top: 20px;
}
