
/*	Сукция женская одежда*/

.main-title {
	text-align: center;
}

.main-title h1 {
	margin: 0;
	padding: 15px 0 10px 0;
	color: rgb(206, 46, 37);
}

.radio-rotat {
	padding: 0;
	margin: 0;
	padding: 10px 10px 20px 0;
	text-align: left;
}

.radio-rotat > form h3 {
	padding: 0;
	margin: 0;
	color: rgb(206, 46, 37)!important;
	margin-bottom: 15px;
}

.radio-rotat > form label {
	padding: 0;
	margin: 0;
	margin-right: 12px;
}

.radio-rotat > form input {
	padding: 0;
	margin: 0;
	width: 15px;
	height: 15px;
	margin-left: 4px;
}

.btn-reset {
	display: inline-block;
	background-color: rgb(70, 163, 82);
	color: rgb(10, 10, 94);
	text-decoration: none;
	text-align: center;
	width: 150px;
	border-radius: 5px;
	box-shadow: 1px 1px 0  rgb(10, 10, 94);
	padding: 8px 9px;
	margin: 15px 0;
	transition: all 0.3s;
}

.btn-reset:hover {
	background-color: rgba(10, 10, 94, 0.8);
	color: rgb(255, 251, 255);
	cursor: pointer;
}

.radio-btn {
	display: inline-block;
	background-color: rgba(10, 10, 94, 0.8);
	color: rgb(255, 251, 255);
	text-decoration: none;
	text-align: center;
	width: 100px;
	border-radius: 5px;
	box-shadow: 1px 1px 0 rgb(241, 35, 8);
	padding: 8px 9px;
	margin: 15px 0;
	transition: all 0.3s;
}

.radio-btn:hover {
	background-color: rgb(70, 163, 82) !important;
	color: rgba(10, 10, 94, 0.8);
	cursor: pointer;
}

/* 	 Секция выбора - карточки		 */

.nich-choice {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mens {
	display: none;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
  
	background-color: rgba(10, 10, 94, 0.3);

	padding: 10px;
	margin-bottom: 20px;
}

.title-mens {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
  
	background-color: rgba(10, 10, 94, 0.3);

	padding: 10px;
	margin-bottom: 20px;
}

.images {
	width: 60%;
}

.images > img {
	margin: 0 !important;
	padding: 0;
	border-radius: 10px;
	width: 95%;
}

/* форма карточки */

.option-prices {
	margin: 12px 0;
}

.content-praice {

	font-size: 1.3rem;
	color: rgb(206, 46, 37);
	padding: 12px 10px;
	text-shadow: 1px 1px 0 rgba(10, 10, 94, 0.3);
}

/*  конец формы карточки */

.contents {
display: flex;
flex-direction: column;
text-align: left;

	max-width: 35%;
}

.contents > h3 {
	font-size: 1.5rem;
}

.content-size {
	display: flex;
	padding: 5px;

	border: 1px solid rgba(10, 10, 94, 1.0);
}

.content-size input {
	margin-right: 10px;
}

.btn-mens {
	width: 100%;
	background-color: rgba(10, 10, 94, 0.4);
	margin-top: 50px;
}


