@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@300;400;500;700&family=Pattaya&display=swap');

html, body, div, header, section, main, articl, ul {
	padding: 0;
	margin: 0;
}

body {
	background-color: rgba(210, 210, 210, 1.0)!important;
	font-size: 14px !important;
	font-weight: 400;
	font-family: "Noto Serif","Arial", sans-serif;
	color: rgb(10, 10, 94);
}

h1, h2, h3 {
	font-family: 'Oswald', Verdana, Geneva, Tahoma, sans-serif;
	color: rgba(240, 240, 240, 1.0) !important;
}

 h2 {
 	text-transform: uppercase;
	font-weight: 600;
	font-style: bold;
	font-size: 2.1rem;
	letter-spacing: 0.2em;
 }

.showcase-content > h1 {
	color: rgb(206, 46, 37) !important;
	font-size: 3rem;
}

.header {
	background-color: rgba(190, 190, 190, 0.8);
	color: rgb(10, 10, 94);
	padding: 10px 0;
	border-bottom: 10px double rgba(210, 210, 210, 1.0);
}

/* .header-logo {
	background-image: url('../img/logo2.png');
	background-repeat: no-repeat;
	opacity: 50%;
} */

.logo {
	font-style: italic;
	font-size: 1.4rem;
}

.header-svg {
	width: 20%;
}

.main-bar {
	padding: 0 !important;
	background-color: rgba(190, 190, 190, 0.1) !important;
}

.nav {
	padding: 0 !important;
	margin: 0 !important;
}

.main-bar > li {
	padding: 0 !important;
	margin: 0 !important;
}

.main-bar > li a {
	padding: 0 !important;
	margin: 0 !important;
	padding-top: 5px !important;
	margin-right: 28px !important;
	margin-left: 10px !important;
	font-size: 1.1rem !important;
	color: rgb(10, 10, 94);
}

.main-bar> li a:hover {
	color: rgb(40, 24, 165);

}

.main-control {
	height: 25px !important;
	padding: 0 5px !important;
	margin-top: 5px !important;
	font-size: 0.8rem !important;
}

.main-dropdown {
	background-color: rgba(190, 190, 190, 0.9);
}

.main-nav {
	background-color: rgba( 240, 240, 240, 1.0);
	width: 100%;
	padding: 100px 0 20px 0;
}


.actives {
	background-color: rgb(14, 110, 253);
	padding: 0 5px 8px 10px !important;
	display: block; 
	color: rgba(247, 241, 241, 1.0) !important;
	transition: all 0.25s;
}

.actives:hover {
	background-color: rgb(206, 46, 37) !important;
	cursor: pointer;
}

.contact > a > span {
	margin-right: 15px;
}

.basket,
.registration {
	display: row;
	margin-top: 8px;
}

.basket > a,
.registr {
	margin-left: 15px;
	text-decoration: none;
}
.basket span,
.registr > span {
	margin-right: 15px;
}

/*	Форма на js   */


.divForm {
	position: fixed;
	display: block;

	top: 0;
	left: 0;
	z-index: 1;

	width: 100%;
	height: 100%;

	padding-top: 100px;
	text-align: center;
	background-color: rgba(100, 100, 100, 0.8);
}

.formOne {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 23%;
	z-index: 2;
	width: 480px;
	height: 350px;

	padding: 20px;
	background-color: rgba(190, 190, 190, 1);
}

.labelOne {
	margin: 10px;	
	font-size: 1rem;
	z-index: 3;
}


.inputTwo,
.inputOne {
	margin-bottom: 20px;
	padding: 10px;  
	width: 320px;
	height: 30px;
	z-index: 4;
}


.labelTwo {
	margin: 10px;
	font-size: 1rem;
	z-index: 5;
}


.btnThree,
.btnOne,
.btnTwo {
	display: inline;
	z-index: 6;
	width: 110px;
	height: 32px;
	margin: 5px 20px;

	color: #fffbff;
	background-color: #0d61df;
}



.btnOne:hover {
color: 	rgb(10, 10, 94)	;}

.btnTwo:hover {
color: 	rgb(10, 10, 94);
}

.btnThree:hover {	
color: 	rgb(10, 10, 94);}
/*	Конец формы   */


.home {
	/* background-image: url('../img/bg.png'); */
	background-color: rgba(190, 190, 190, 1);
	background-repeat:repeat-x;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}
 
.showcase {
	height: 650px;
	margin: 0 !important;
	background-image: url('../img/bg_2a.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: left;
	
	padding: 15px 40px 25px 0 !important;
}

.showcase > h2 {
	margin-top: 130px;
}

.showcase-content {
	background-color: rgba(10, 10, 94, 0.3);
	width: 54%;
	padding: 50px 20px 50px 30px !important;
	margin-top: 100px;
	margin-left: 50px;
}

.showcase-content > p {
	font-size: 1rem !important;
	padding: 10px 100px 0 10px !important;
	color: rgba(255, 251, 255, 1.0) !important;
}

.link {
	display: inline-block;
	background-color: rgba(10, 10, 94, 0.3);
	color: rgb(255, 251, 255);
	text-decoration: none;
	text-align: center;
	width: 140px;
	border-radius: 5px;
	box-shadow: 1px 1px 0 rgb(241, 8, 8);
	padding: 9px 10px;
	margin: 30px 0;
}

.link:hover {
	background-color: rgb(70, 163, 82) !important;
	color: rgb(10, 10, 94);
	cursor: pointer;
}

.galeri-one {
	background-color: rgb(206, 46, 37);
	padding-top: 60px;
	padding-bottom: 35px;
	text-align: center;
}

.galeri-two {
		background-color: rgb(212, 160, 23);
	padding-top: 60px;
	padding-bottom: 35px;
	text-align: center;
}

.galeri-two h2,
.galeri-one h2 {
	margin-bottom: 20px;
} 

.galeri .link {
	margin-top: 15px;
}

.cart-image {
	box-shadow: 1px 2px 10px rgba(10, 10, 94, 0.3);
}

.cart-image img {
		width: 99%;
}

/*	Секция новостей*/

.news {
	background-color: rgba(180, 180, 180, 1);
	padding-top: 60px;
	padding-bottom: 50px;
	text-align: center;
}

.title-news {
	padding: 40px 0;
}

.news-cont {
	background-color: rgb(14, 110, 253);
	width: 100%;
	min-height: 430px;
}

.news-cont > h3 {
	color: rgba(10, 10, 94, 1.0) !important;
	font-size: 1.3rem;
	font-style: italic;
	padding: 20px 0;
	
}

.news-text {
	color: rgb(255, 251, 255);
	margin-top: 25px;
}

.news-cont img {
	width: 97%;
}

.heart {
	position: absolute;
	width: 35px !important;
	height: 35px !important;
	margin-left: -50px;
	margin-top: 10px;
}


/*   Начало footer  */

.main-footer {
	background-color: rgba(14, 110, 253, 1.0);
	padding: 50px 0;
}

/*	Форма регистрации	*/

.div-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 390px;

	text-align: center;

	padding: 10px;
	background-color: rgba(190, 190, 190, 1.0);
}

.form-registration {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;

	text-align: left;
}

.label-login,
.label-mail,
.label-password {
	width: 290px;
	height: 35px;

	margin-bottom: 22px;
}

.span-enter {
	color: #000;
}

.btn-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}


.btn-registration {
	padding: 8px 12px;
	color: rgb(255, 251, 255);
	background-color: rgb(14, 110, 253);

	margin-right: 12px; 
}

.btn-registration:hover {
	background-color: rgb(206, 46, 37) !important;
}

.link-return {
	color: rgb(255, 251, 255);
}

.mistakeSpan {
	position: absolute;
	display: block;
	width: 370px;
	height: 100px;
	padding: 35px 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(10, 10, 94, 1.0);
	
	font-size: 1.2rem;
	color: rgb(255, 251, 255);
	background-color: rgb(206, 46, 37) !important;
	z-index: 20;
}


/*	 Конец формы	  */

@media (max-width: 1200px) {
		.logo {
		padding-top: 5px;
		font-style: italic;
		font-size: 1.1rem !important;
	}
		.main-bar > li a {
		margin-right: 22px !important;
		font-size: 1rem !important;
	}
	.showcase-content {
	padding: 15px 40px 25px 40px !important;
	}
	.cart-image {
		
	}


	.cart-image img {
		width: 100%;
	}

	.heart {
		width: 25px !important;
		height: 25px !important;
		margin-top: 5px;
		margin-left: -35px;
	}
}

@media (max-width: 992px) {

	.logo {
		font-size: 1.1rem !important;
	}
	.main-bar > li a {
		margin-left: 5px !important;
		font-size: 0.9rem !important;
	}
	.heart {
		width: 25px !important;
		height: 25px !important;
		margin-top: 5px;
		margin-left: -30px;
	}

	.showcase-content {
		width: 70%;
	}
}

@media (max-width: 768px) {
	.header {
		text-align: center;
	}

	.showcase-content {
		margin-top: 50px;
		width: 85%;
	}
		.logo {
			padding-top: 5px;
		    font-size: 1.2rem !important;
	}
		.main-bar > li a {
			margin-left: 35px !important;
			font-size: 1.1rem !important;
	}
		.main-nav {
		background-color: rgba( 240, 240, 240, 1.0);
		width: 100%;
		padding: 130px 0 20px 0;
	}
		.contact > a {
			font-size: 0.7rem !important;
		}
		.contact > p {
			font-size: 0.7rem;
		}
		.showcase > h2 {
		margin-top: 50px;
	}
	.galeri-one img,
	.galeri-two img {
		margin-bottom: 15px;
	}
	
	.news {
		background-image: url('../img/bg_3.png');
		background-repeat: no-repeat;
	}

}

@media (max-width: 576px) {
	.header {
		text-align: center;
	}
		.logo {
			padding-top: 5px;
		    font-size: 1.2rem !important;
	}
		.main-bar > li a {
			padding: 0 !important;
			margin-right: 0 !important;
			margin-left: 20px !important;
			font-size: 1rem !important;
	}

	.showcase-content {
		margin-top: 50px;
		width: 100%;
	}

}

@media (max-width: 480px) {
	.header {
		text-align: center;
	}
		.logo {
			padding-top: 5px;
		    font-size: 1.2rem !important;
	}
		.main-bar > li a {
			margin-left: 10px !important;
			font-size: 0.9rem !important;
	}
}

@media (max-width: 430px) {
	.header {
		text-align: center;
	}
		.logo {
			padding-top: 5px;
		    font-size: 1.2rem !important;
	}
		.main-bar > li a {
			margin-left: 10px !important;
			font-size: 1rem !important;
	}
}

@media (max-width: 380px) {
	.header {
		text-align: center;
	}
		.logo {
			padding-top: 5px;
		    font-size: 1.2rem !important;
	}
		.main-bar > li a {
			margin-left: 8px !important;
			font-size: 0.9rem !important;
	}
}









